
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>booking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="C:\Users\HP\OneDrive\Desktop\car rental\book.css">
    </head>
    <body>
        <div class="book">
            <ul>
                <li>super reliable service</li>
                <li>24/7 customer service</li>
                <li>Gps tracking system</li>
                <li>wide range of vehicle</li>
            </ul>
        </div>
        <div class="form">
            <form>
                <div class="inputbox">
                    <span class="flaticon-car"></span>
                    <select id="cars">
                        <option value="">select vehicle</option>
                        <option value="">shift</option>
                        <option value="">audi</option>
                        <option value="">7sitter</option>
                        <option value="">volva</option>
                    </select>
                </div>
                <br>
                <div class="inpbox">
                    <span class="flaticon-globe"></span>
                    <input type="text" placeholder="pickup location">
                </div>
                <br>
                <div class="inpbox">
                    <span class="flaticon-calendar"></span>
                    <input type="date" placeholder="pickup date">
                </div>
                <br>
                <div class="inpbox">
                    <span class="flaticon-globe"></span>
                    <input type="text" placeholder="return location">
                </div>
                <br>
                <div class="inpbox">
                    <span class="flaticon-calendar"></span>
                    <input type="date" placeholder="return date">
                </div>
                <br>
                <div class="inpbox">
                    <span class="flaticon-user"></span>
                    <input type="text" placeholder="full name">
                </div>

                <div class="inpbox">
                    <span class="flaticon-email"></span>
                    <input type="email" placeholder="email">
                </div>
                
                <br>

                <button class="submit">submit</button>
            </form>
        </div>
    </body>

</html>