
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>car rental website</title>
        <link rel="stylesheet" href="C:\Users\HP\OneDrive\Desktop\car rental\car.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
        
    </head>
    <style>
        body {
              background-image: url("https://media-cldnry.s-nbcnews.com/image/upload/newscms/2019_13/2798361/190325-rental-cars-cs-229p.jpg");
               background-repeat:no-repeat;
              background-size: 100%;
              

              }
              </style>
    <body>
       
        <header>
            <a href="#" class="logo">KISHORE <br>CAR RENTAL AND SERVICES</a>
            <ul class="nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#service">Service</a></li>
                <li><a href="#reviews">Reviews</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="header-btn">
                <a routerLink="/sign"class="sign-up">Sign </a>
                
            </div>
            
            </header>
            
            
    
            <section>
              <div class="home" id="home">
                <div class="content">           
                
                <h2>MAKE YOUR TOUR MEMORABLE<br>WITH OUR LUXURIOUS CARS.....</h2>
               
                 </div>
                 </div>
                 <footer> 
                    <div class="btn">
                    <a routerLink="/bookcomponent">BOOK NOW</a>
                </div>
                </footer>
                 <div class="about" id="about">
                 <div class="content">  
                    <h2>ABOUT US</h2>         
                    <p>KISHORE CAR RENTAL have been at the forefront of serving the customer with quality service since its inception.
                        We provide cabs and cars for hire which are of the best quality you can count on. Or drivers are well trained and highly professional.<br>
                       
                       KISHORE CAR RENTAL have been providing Tourist Vehicle services for over a decade and today we grown to a large fleet to cater to the ever increasing demand of our valuable customers.
                        Our services include Car Rentals, Tour Packages, Corporate Tours, Group Tours, Wedding Wagons, South India Package ,Inbound Tour Package, Special Events, Groups & Individual tours, Package for Pilgrims place,
                        Luxury Car Rentals & Luxury coaches,</p>
                     <a href="#">Read more</a>
                     </div>
                     <img src="https://thumbs.dreamstime.com/b/mercedes-benz-different-class-color-row-front-dealership-russia-saint-petersburg-may-mercedes-benz-different-183436478.jpg" width="750" height="600" >
                     
                     </div>
                     <div class="service" id="service">
                        <div class="cardBx">
                            <h2>service</h2>
                            <p>What is a car service?<br>
                                A car service is a health check with routine maintenance for your vehicle which assesses everything from your engine’s fluid levels to the general wear and tear of your car. 
                                
                                A service is usually undertaken by a mechanic and the most in-depth of them involve around 50 or more system and component checks, adjustments and parts replacement.</p>
                        </div>
                        <img src="http://gwrench.com/wp-content/uploads/2020/12/VistaCarService.jpg" width="750" height="600" >
                               
                        </div>
                     <div class="reviews" id="reviews">
                        <div class="heading">
                            <span>Reviews</span>
                            <h1>whats our customer say Reviews</h1>
                        </div>
                        <div class="reviews-container">
                            <div class="box">
                            <div class="rev-img">
                                <img src="https://m.media-amazon.com/images/I/71MUFRqF43L._SL1500_.jpg" alt="">
                            </div>
                            <h2>kishore</h2>
                            <div class="star">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star-half' ></i>

                            </div>
                            <p>You might be traveling with lifelong buddies or friends you have recently made.</p>
                        </div>
                        <div class="box">
                            <div class="rev-img">
                                <img src="https://www.imagesplatform.com/mohsin_site/uploads/2020_02_23/alone-boy-hd-wallpaper.jpg" alt="">
                            </div>
                            <h2>Pavan</h2>
                            <div class="star">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star-half' ></i>

                            </div>
                            <p>When you travel by car, you certainly enjoy the journey much more than alternative modes of transport. </p>
                        </div>
                        <div class="box">
                            <div class="rev-img">
                                <img src="https://c0.wallpaperflare.com/preview/871/524/842/outdoor-evening-sunny-indian.jpg" alt="">
                            </div>
                            <h2>Ankabau</h2>
                            <div class="star">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star-half' ></i>

                            </div>
                            <p>Journey was good. Car was clean.
                                 Driver was on time, polite and effiefficient and it was his first trip to Veĺlankanni.
                                  Overall satsfactory experience.</p>
                        </div>
                        </div>
                   
                       
                            <div class="contact" id="contact">
                                <div class="form">
                                    <h1>Contact Us</h1>
                                    <div class="inputBx">
                                        <p>Enter Name</p>
                                        <input type="text" placeholder="Full Name">
                                    </div>
                                    <div class="inputBx">
                                        <p>Enter Email</p>
                                        <input type="text" placeholder="Full Mail">
                                    </div>
                                    <div class="inputBx">
                                        <p>Message</p>
                                        <textarea placeholder="type here..."></textarea>
                                    </div>
                                    <div class="inputBx">
                                        <input type="submit" value="submit">
                                    </div>
                                </div>
                            
                        
                            
                            <div class="card">
                                <h3>contact info</h3><br>
                                
                                <div class="infobox">
                            
                                <div>
                                    <span><i class='bx bxs-edit-location' ></i>
                                        
                                    </span>

                                    <p>61/4/45A,Gayathri Road,Near Benzcircle,Vijayawad</p>
                                </div>
                                <div>
                                <span><i class='bx bxl-gmail' ></i></span>
                                <a href="mailto:kishore123@gmail.com">kishore123@gmail.com</a>
                            </div>
                            <div>
                                <span><i class='bx bxs-phone' ></i></span>
                                <a href="tel:+91 9834657565">+91 9834657565"></a>
                            </div>
                            <ul class="sci">
                                <li><a href=""><i class='bx bxl-facebook-circle'></i></a></li>
                                <li><a href=""><i class='bx bxl-instagram' ></i></a></li>
                                <li><a href=""><i class='bx bxl-youtube' ></i></a></li>
                                <li><a href=""><i class='bx bxl-twitter' ></i></a></li>

                            </ul>
                            </div>
                          
                            </div>


                          
                     
    
    





    
           